*, *::before, *::after{
    box-sizing: border-box;
}

.block {
    display: block;
}

 #highScore, #intro, #gameOver{
    display: block;
    text-align: center !important;
}

#startButton{
    display: inline;
    justify-content: center;
    align-items: center;
    
}

.btn{
    background-color: purple;
    margin: 10px 0 0 20px;;
}

.hide{
    display: none !important;
}

#question {
    font-size: 30px;
}