*, *::before, *::after{
    box-sizing: border-box;
}

.block {
    display: block;
}

 #highScore, #intro, #gameOver{
    display: block;
    text-align: center !important;
}

#startButton{
    display: inline;
    justify-content: center;
    align-items: center;
    
}

.btn{
    background-color: purple;
    margin: 10px 0 0 20px;
}

.hide{
    display: none !important;
}

#question {
    font-size: 30px;
}

div{
    margin-top: 40px;
}

ul{
    display: grid;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li {
    height: 50px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: orange;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
  }
  
  